# data
**/data/
**/*.csv
**/*.parquet
**/*.zip

# kaggle credentials
kaggle.json

# jupyter
.ipynb_checkpoints/
**/*.ipynb_checkpoints

# python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# env
.env
.venv/
venv/
env/

# ide
.vscode/
.idea/

# os
.DS_Store
Thumbs.db